@charset "UTF-8";
/***
    The new CSS reset - version 1.8.5 (last updated 14.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
    Copied from: https://elad2412.github.io/the-new-css-reset/
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element */
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

.page__body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: rgba(60, 60, 60, 0.7019607843);
  font-size: 100%;
  max-width: 992px;
  margin: auto;
}

.header {
  text-align: center;
  text-wrap: balance;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: rgba(60, 60, 60, 0.7019607843);
  font-size: clamp(2.8125rem, 2.0089rem + 4.0179vw, 5.625rem);
  line-height: 1.2;
  color: #213547;
}
.title .gradient {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}

.text {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: rgba(60, 60, 60, 0.7019607843);
  font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.4rem);
}

.section__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: rgba(60, 60, 60, 0.7019607843);
  font-size: clamp(2rem, 1.7679rem + 1.1607vw, 2.8125rem);
  color: #213547;
}

.course__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: rgba(60, 60, 60, 0.7019607843);
  font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.4rem);
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link {
  color: #34495E;
}
.link:hover {
  color: #647eff;
}

.header {
  height: 60vh;
  display: grid;
  place-items: center;
  margin-block: 3rem;
}

.section {
  padding: 1rem;
}
.section__title {
  margin-block-end: 2rem;
}
.section__cards {
  display: flex;
  gap: 1rem;
}
.section__course {
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-basis: 50%;
  box-shadow: 8px 8px 16px -13px rgb(66, 68, 90);
}

.course__progress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.progress__bg {
  width: 50%;
  background-color: #ddd;
  border-radius: 8px;
}
.progress__bar {
  width: 1%;
  height: 35px;
  background-color: #34495E;
  text-align: center;
  line-height: 32px;
  color: white;
  border-radius: 8px;
}

.button--main {
  background-color: #42d392;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}
.button--main:hover {
  cursor: pointer;
  background-color: #41B883;
}/*# sourceMappingURL=style.css.map */